html {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 32px;
  font-family: Arial, sans-serif;
  color: darkblue;
  text-align: center;
  text-shadow: 2px 2px #2674FF;
}

body {
  background-color: #1377a8;
}

p {
  color: white;
  font-family: "monaco", monospace;
  margin-top: 10px;
  margin-left: 7px;
  margin-right: 10px;
  margin-bottom: 10px;
}

a {
  font-family: "monaco", monospace;
  cursor: pointer;
}
a :hover {
  color: red;
}

nav {
  font-size: 12px;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
}

aside p {
  color: black;
  padding: 10px 10px 10px 7px;
  border: 4px gray;
  background-color: #7393B3;
}
